h2 {
    text-align: center;
    
}    


h3 {
    text-align: center;
    color:dimgrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    #images {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    width:750px;
    margin: 0 auto;
    
}   

#images img {
    width:250px;
    height:300px;
    margin: 10px;
    display:grid;

}

button {
    background-color:black;
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:10px;
}

body {
    background-color:darkgray;
}